#home {
	h1{
		// color:$textColor;
		font-family: 'Proxima Nova', 'Exo', sans-serif;
		font-size:3em;

	}
  blockquote {
    font-size: 14px;
    font-style: italic;
  }
}

.greenbutton {
	background-color: green;
}
.btn {
	position: absolute;
	bottom: 20px;
	right: 45%;
}